/* start : universal styles */
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0 auto;
}
/* end : universal styles */

/* start : style for head sectionn */
.headerSection{
    background-color: #44133f;
    padding : 45px;
    text-align: center;
    font-weight: bold;
}
.headText{
    color: white;
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: bold;
}
/* end : style for head section */

/* start : style for landing image */
.landingImage{
    /* height: 86.7vh; */
    width: 100%;
    height: calc(100vh - 139px);
    object-fit: cover;
}
.landingImageContainer{
    object-fit: cover;
}
/* end : style for landing image */ 

/* start : styles for places section */
.touristPlaceSectionOne{
    padding-top: 81px;
    width: 89%;
    margin: auto;
}
.touristPlaceSectionTwo{
    padding-top: 60px;
    width: 89%;
    margin: auto;
}
.touristExplorationPlacesSection{
    padding: 82px 108px 0px 108px;
}
.touristPlaceCard{
    padding: 12px;
    padding-bottom: 86px;
    width: 31.5%;
    display: inline-block;
}
.touristPlaceImage{
    width: 100%;
}
.quoteAboutThePlace{
    font-weight: 200;
    font-size: 38px;
    padding: 10px 0px;
}
.placeName{
    font-size: 20px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 30px;
}
.placeDescription{
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
}
.readMoreButton{
    background-color: #840057;
    color: white;
    display: inline-block;
    padding: 14px 25px;
    margin-top: 25px;
    border: none;
    font-size: 19px;
    font-weight: 250;
}
/* end : styles for places section */

/* start : styles for brief section */
.briefAboutTourismTitle{
    font-weight: 200;
    color:#840057;
    font-size: 80px;
    margin-top: 12px;
    margin-bottom: 46px;
    text-align: center;
    letter-spacing: -0.9px;
}
.briefAboutTourismDescription{
    text-align: justify;
    font-size: 33px;
    width: 75%;
    line-height: 1.4;
    font-weight: 200;
    margin: auto;
    padding-bottom: 100px;
}
/* end : styles for brief section */

/* start : styles for footer section */
.footerContainer{
    padding: 28px 0px;
    display: block;
    width: 89%;
    margin: auto;
}
.footer{
    background-color: #840057;
}
.footerHeading{
    font-size: 22px;
    padding-bottom: 5px;
    color: white;
    font-weight: bold;
}
.footerSubheading{
    font-size: 20px;
    color: white;
    font-weight: 300;
}
/* end : styles for footer section */