/* UNIVERSAL STYLES */
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* HEADER STYLES */
.header{
    padding: 0px 35px;
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #A9E087;
    font-size: 20px;
}

/* STYLES FOR CALCULATION AREA */
.calculation-area{
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* STYLES FOR CHOOSE A SHAPE SECTION */
.choose-shape-section{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* TEMPORARY STYLE FOR JS */
    /* display: none; */
}
.choose-shape-section h2{
    color: white;
    font-size: 50px;
    font-weight: 300;
}
.shape-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
.circle,.triangle,.square{
    display: flex;
    justify-content: center;
    align-items:center;
}
.circle{
    height: 170px;
    width: 170px;
    background-color: #00987D;
    border-radius: 50%;
    cursor: pointer;
}
.triangle{
    margin-top: 10px;
    width: 0; 
    height: 0; 
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;  
    border-bottom: 160px solid #FFABDC;
    cursor: pointer;
}
.square{
    height: 170px;
    width: 170px;
    background-color: #E0E0E0;
    cursor: pointer;
}

.tick-mark{
    position: absolute;
    height: 25px;
    width: 50px;
    transform: rotate(-40deg );
    border: 3px solid white;
    border-top: none;
    border-right: none;
}
.align-tick{
    top: 480px;
}
.next-button{
    height: 60px;
    width: 220px;
    background-color: black;
    border: 2px solid white;
    padding: 15px 50px;
    margin-top: 100px;
    visibility: hidden;
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

 /* SHAPE DIMENSTION INPUT SECTION */
.input-section{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.enter-measurement-instruction{
    color: white;
    font-size: 50px;
    font-weight: 300;
}
.calculate-button{
    border: 2px solid white;
    color: white;
    background-color: black;
    padding: 15px 24px;
    width: 210px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
.entry-value{
    font-size: 50px;
    color: white;
    height: 61px;
    width: 550px;
    background-color: black;
    border: 2px solid white;
}
*:focus{
    outline: none;
}

/* STYLES FOR OUTPUT ROWS AND COLUMNS */
.shape-output-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.cell{
    font-size: 20px;
    color : white;
    font-weight: 300;
}
.first-cell{
    background-color: #0D62D6;
    width: 180px;
    padding: 10px;
}

.middle-cell{
    width: 130px;
    padding: 10px;
    background-color: #455D7E;
}
.last-cell{
    width: 120px;
    padding: 10px;
    background-color: #3288FF;
}
.shape-output-row{
    display: flex;
}
.start-again-button{
    border: 2px solid white;
    color: white;
    background-color: black;
    padding: 15px 24px;
    margin-top: 50px;
    width: 210px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
