/* universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #F5F5F5;
}

/* styles for header */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
}
.header img{
    width: 156px;
    height: 66px;
}

/* styles for tab container and tab buttons */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
}
.tab-content-container{
    width: 632px;
    height: 561px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: scroll;
}
.tabs-container{
    width: 580px;
    display: flex;
    justify-content: flex-start;
    column-gap: 14px;
}
.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 37px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 0.725em;
    font-weight: 500;
    cursor: pointer;
    background-color: black;
    color: white;
}
.active{
    background-color: #001B71;
    color: white;
}

/* styles for about us section */
.about-us-section{
    display: none;
    flex-direction: column;
    row-gap: 20px;
    padding: 32px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    background-color: white;
}
.about-us-section img{
    height: 243px;
    width: 578px;
}

/* styles for solutions section */
.solutions-section{
    display: none;
    flex-direction: column;
    row-gap: 8px;
    padding: 20px;
    background-color: white;
    height: 100%;
}
.solutions-section div{
    position: relative;
    top: -8px;
    height: 123px;
    font-size: 12px;
    border: 1px solid #808EB9;
    margin-top: -2px;
}
.solutions-section h3{
    
    border:  1px solid #808EB9;
}
#accordion h3{
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 0;
    font-weight: 500;
    padding: 10px 8px;
}
#accordion div{
    border-radius: 0;
}

/* styles for location section */

.locations-container{
    display: flex;
    height: 40px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    background-color: white;
}
.grey-container{
    background-color: #EEEEEE;
}
.pink-container{
    background-color: #F2D9F7;
}

.locations-section{
    display: none;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    background-color: #fff;
    overflow: scroll;
} 
.locations-container img{
    width: 27px; 
    margin-left: 10px;
    border-radius: 50%;
}
.state,.city,.phone-no{
    font-weight: 400;
}
.state{
    width: 20%;
}
.city{
    width: 31%;
}
.phone-no{
    margin-right: 15px;
}

/* style to control the visibility of the section with respect to the selected tab */
.tab-display-control{
    display: flex;
}
