// font - variables
$ibm-plex-regular: "IBM Plex Regular";
$ibm-plex-bold: "IBM Plex Bold";
$lato : 'Lato', sans-serif;

// background and text colors
$header-bg-color: #041D2E;
$header-txt-color: #fff;
$body-color: #000;
$date-color: #646464;
$note-text-color: #272717;
$pink : #EBCCED;
$white : #FCFCFC;
$yellow : #FFCA71;
$green: #E5EE91;
$skin: #FFA78C;
$empty-notes-color: #B2B2B2;

// button colors
$delete-btn-color: #A80000;
$new-edit-btn-color: #B355B7; 


