/* UNIVERSAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* BODY BACKGROUND STYLES */
body{
    height: 100vh;
    width: 100vw;
    background-image: url("/Fancy Hats/assets/Images/background-image.png") ;
    background-size: cover;
}
/* WHOLE CONTAINER STYLES */
.content-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 100vh;
    padding-bottom: 50px;
}

/* NAVIGATION SECTION */
.nav-section{
    position: relative;
    width: 275px;
}
.hamburger-icon{
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.hamburger-icon span{
    background-color: white;
    height: 2px;
    width: 40px;
}
.drop-down ul{
    list-style: none;
}
li:hover{
    color: grey;
    cursor: pointer;
}
.drop-down ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding : 20px;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    height: 800px;
    width: 300px;
    border-radius: 0px 20px 20px 0px;
}
.drop-down li{
    font-size: 18.5px;
    padding: 10px 60px;
}
.drop-down{
    position: absolute;
    left: -300px;
    transition: left 2s;
}
.hamburger-icon:hover ~ .drop-down{
    left: 0px;
}

.drop-down:hover{
    left: 0px;
}

/* MIDDLE SECTION */
.middle-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.middle-section h2{
    color: white;
    font-size: 80px;
    transform: scale(0.9,1);
    letter-spacing: 1;
}
.quote-first-line{
    font-size: 100px;
    transform: scale(1,1.2);
    color: white;
}
.quote-second-line{
    font-size: 130px;
    color: white;
    transform: scale(1,1.1);
}

/* YEAR SECTION STYLES */
.year-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.year-container{
    text-align: left;
    transform: rotate(-90deg);
    margin-right: -90px;
    margin-top: 125px;
}
.year-container h4{
    display: inline;
    font-size: 40px;
    color: white;
    padding-right: 20px;
}
.year-container h1{
    display: inline;
    font-size: 100px;
    color: white;
}
.icon-section{
    display: flex;
    width: 100%;
    padding-right: 40px;
    justify-content:right;
}
.icon-section i{
    font-size: 40px;
    color: white;
    padding: 10px;
}

