*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.mailSection{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    font-size: 2.5em;
    font-weight: 900;
}
.nameSection{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name{
    font-size: 150px;
    margin: 0;
}
.name span{
    font-weight: 100;
}
.role span{
    color: #4b90e2;
}
.role{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 170px;
}
.productsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.productsContainer img{
    width: 427px;
    padding-bottom: 47px;
}
.mobileEmail{
    display: none;
}


.logoContainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.logoTitle{
    margin: 120px;
    font-size: 50px;
    color: #CECECE;
    font-weight: 700;
}
.logoContainer span{
    color: #B8E985;
}
.logoRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logoContainer img{
    width: 150px;
}
.footer{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 80%;
}
.iconsSection{
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.breakLines{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.shortLine{
    background-color: white;
    height: 2px;
    width: 33px;
    margin-right: 30px;
}
.longLine{
    background-color: white;
    height: 2px;
    width: 190px;
   
}

@media only screen and (max-width: 1135px){
    .mailSection{
        color: black;
        margin-top: 400px;
        visibility: hidden;
    }
    .mobileEmail{
        display: inline-block;
        margin: 0px;
        margin-bottom: 200px;
        font-size: 1.98em;
        font-weight: 900;
        text-align: center;
        margin-top: 16px;
    }
    .role{
        font-size: 75px;
        margin: 0;
    }
    .productsContainer{
        justify-content: center;
    }
    .productsContainer img{
        width: 100%;
    }
    .logoContainer img{
        padding: 100px;
    }
}


@media only screen and (max-width: 700px) {
    .mailSection{
        font-size: 70px;
    }
}
