body{
    margin-left: 575px;
    margin-top: 350px;
    width: 100vh;
    height: 100vh;
    background-color: black;
}
.bigCircle{
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: white;
}
.commonBlock{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
}
.blockTB{
    transform: rotate(90deg);
    margin-right: 450px;
    left: 225px;
    animation: blockTB 1s ease-in infinite alternate-reverse;
}
.blockLR{
    top: 220px;
    animation: blockLR 1s ease-in infinite alternate-reverse;
    animation-delay: 1s;
}
.blockRL{
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
}

@keyframes blockLR {
    0%{
        left: 0px;
    }
    25%{
        left: 125px;
    }
    50%{
        left: 250px;
    }
    75%{
        left: 375px;
    }
    100%{
        left: 450px;
    }
}

@keyframes blockTB {
    0%{
        top: 0px;
    }
    25%{
        top: 125px;
    }
    50%{
        top: 250px;
    }
    75%{
        top: 375px;
    }
    100%{
        top: 450px;
    }
}