/* OUTER CIRCLE STYLES */
body{
    margin-left: 575px;
    margin-top: 350px;
    width: 100vh;
    height: 100vh;
    background-color: black;
}
.bigCircle{
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: white;
}

/* STYLES FOR EIGHT SMALL CIRCLES */
.commonBlock{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
}
.blockTB{
    transform: rotate(90deg);
    left: 225px;
    animation: blockTB 1s ease-in infinite alternate-reverse;
}
.blockBT{
    transform: rotate(180deg);
    left: 225px;
    bottom: 0px;
    animation: blockBT 1s ease-in infinite alternate-reverse;
}
.blockLR{
    top: 220px;
    animation: blockLR 1s ease-in infinite alternate-reverse;
}
.blockRL{
    top: 220px;
    right: 0px;
    animation: blockRL 1s ease-in infinite alternate-reverse;
}
.blockTR{
    transform: rotate(45deg);
    top: 65px;
    right: 65px;
    animation: blockTR 1s ease-in infinite alternate-reverse;
}
.blockTL{
    transform: rotate(-45deg);
    top: 65px;
    left: 65px;
    animation: blockTL 1s ease-in infinite alternate-reverse;
}
.blockBL{
    left: 65px;
    bottom: 65px;
    animation: blockBL 1s ease-in infinite alternate-reverse;
}
.blockBR{
    right: 65px;
    bottom: 65px;
    animation: blockBR 1s ease-in infinite alternate-reverse;
}

/* ANIMATION TIMING FUNCTIONS FOR EIGHT CIRCLES */
@keyframes blockBR {
    0%{
        right: 65px;
        bottom: 65px;
    }
    25%{
        right: 145px; 
        bottom: 145px;
    }
    50%{
        right: 225px;
        bottom: 225px;
    }
    75%{
        right: 305px;
        bottom: 305px;
    }
    100%{
        right: 385px;
        bottom: 385px;
    }
}

@keyframes blockBL {
    0%{
        left: 65px;
        bottom: 65px;
    }
    25%{
        left: 145px;
        bottom: 145px;
    }
    50%{
        left: 225px;
        bottom: 225px;
    }
    75%{
        left: 305px;
        bottom: 305px;
    }
    100%{
        left: 385px;
        bottom: 385px;
    }
}


@keyframes blockBT {
    0%{
        bottom: 0px;
    }
    25%{
        bottom: 125px;
    }
    50%{
        bottom: 250px;
    }
    75%{
        bottom: 375px;
    }
    100%{
        bottom: 450px;
    }
}

@keyframes blockTR {
    0%{
        top: 65px;
        right: 65px;
    }
    25%{
        top: 145px;
        right: 145px;
    }
    50%{
        top: 225px;
        right: 225px;
    }
    75%{
        top: 305px;
        right: 305px;
    }
    100%{
        top: 385px;
        right: 385px;
    }
}

@keyframes blockTL {
    0%{
        top: 65px;
        left: 65px;
    }
    25%{
        top: 145px;
        left: 145px;
    }
    50%{
        top: 225px;
        left: 225px;
    }
    75%{
        top: 305px;
        left: 305px;
    }
    100%{
        top: 385px;
        left: 385px;
    }
}

@keyframes blockLR {
    0%{
        left: 0px;
    }
    25%{
        left: 125px;
    }
    50%{
        left: 250px;
    }
    75%{
        left: 375px;
    }
    100%{
        left: 450px;
    }
}
@keyframes blockRL {
    0%{
        right: 0px;
    }
    25%{
        right: 125px;
    }
    50%{
        right: 250px;
    }
    75%{
        right: 375px;
    }
    100%{
        right: 450px;
    }
}

@keyframes blockTB {
    0%{
        top: 0px;
    }
    25%{
        top: 125px;
    }
    50%{
        top: 250px;
    }
    75%{
        top: 375px;
    }
    100%{
        top: 450px;
    }
}